@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  text-transform: uppercase;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #f12711, #f5af19); 
}
.main {
  height: auto;
  width: auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.41);
  border-radius: 16px;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  box-shadow: 1px 2px 48px -6px rgba(255, 255, 255, 0.66);
  -webkit-box-shadow: 1px 2px 48px -6px rgba(255, 255, 255, 0.66);
  -moz-box-shadow: 1px 2px 48px -6px rgba(255, 255, 255, 0.66);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input{
    
    position: relative;
    cursor: text;
    font-size: 14px;
    line-height: 20px;
    padding: 0 16px;
    height: 48px;
    background-color: #fff;
    border: 1px solid #d6d6e7;
    border-radius: 3px;
    color: rgb(35, 38, 59);
    box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
    overflow: hidden;
    transition: all 100ms ease-in-out;
    outline: none;
}
input:focus {
    border-color: #3c4fe0;
    box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
}
select{ 
    position: relative;
    cursor: text;
    font-size: 14px;
    line-height: 20px;
    padding: 0 16px;
    height: 48px;
    background-color: #fff;
    border: 1px solid #d6d6e7;
    border-radius: 3px;
    color: rgb(35, 38, 59);
    box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
    overflow: hidden;
    transition: all 100ms ease-in-out;
    margin-left: 5px;
    outline: none;

}
select:focus {
    border-color: #3c4fe0b5;
    box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
}
.equal{
    font-size: 40px;
    font-weight: bold;
    color: white;
}
h1{
    color: white;
}
